## -----------------------------
## AI Second Brain - env example
## -----------------------------
## Copy to `.env.local` and fill in values.
##
## IMPORTANT:
## - Never commit `.env.local`

# Supabase client (for storage)
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=

SUPABASE_URL=

# Prisma / Supabase Database
# Connect to Supabase via connection pooling
DATABASE_URL=
# Direct connection to the database. Used for migrations
DIRECT_URL=

# Supabase Bucket
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=media

# Clerk Configuration
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/workspace
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/workspace

# Tldraw Configuration
NEXT_PUBLIC_TLDRAW_LICENSE_KEY=